--- Node.js ---

node_modules/
dist/
coverage/
.env
npm-debug.log
yarn-error.log

--- Android/Kotlin/Gradle ---

.gradle/
build/
local.properties
.idea/
*.iml
*.DS_Store
captures/
.externalNativeBuild/
.cxx/

--- OS Specific ---

Thumbs.db